@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script");
.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-danger {
  background-color: darkred !important;
}

.hero .title {
    font-family: 'Kaushan Script', sans-serif;
    transform: rotate(-4deg);
    font-size: 4rem;
    color: whitesmoke;
  }
  
  .hero .subtitle {
    padding: 5px;
    color: whitesmoke;
  }
  
  .hero .profession {
    padding-top: 50px;
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  .main-content {
    padding-top: 2rem;
    color: #3c4172;
    font-family: 'Poppins', sans-serif;
  }

  .main-content .section-light {
    padding: 30px;
  }
  
  .main-content .section-light.about-me {
    padding-bottom: 100px;
  }
  
  .main-content .section-light.about-me .is-larger {
    font-size: 1.2rem;
  }

  .main-content .section-title {
    color: #43485c;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding-bottom: 30px;
  }

  .navbar-burger {
    color: white !important
  }